body {
  background: url('../images/galaxy-background.jpg');
}

#main {
  font-family: 'Menlo', 'Arial', 'Calibri';
}

#map-container {
  width: 92.5%;
  margin: auto;
  border-radius: 5px 5px 0 0;
}

#left-side, #right-side, #map-container {
  background-color: lightgray;
}

#main-header {
  padding: 2%;
  color: white;
}

#text-overlay {
  border-radius: 5%;
}

#left-side, #ride-side {
  float: left;
}

#left-side {
  width: 30%;
  border-right: solid black 0.1px;
}

#right-side {
  width: 70%;
  overflow: hidden;
  border-left: solid black 0.1px;
}

#left-content {
  padding: 3%;
}

#right-content {
  padding: 0 3% 0 3%;
}

#right-content-inner {
  padding-bottom: 75%;
}

.nav-tabs li {
  width: 33.3333333333333333333%;
  text-align: center;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 15px;
}